@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
}

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
  }
}